<!-- prices/templates/prices/purchase_record_form.html -->
{% extends 'base.html' %}

{% block content %}
  {% if not request.resolver_match.url_name == 'purchase_record_edit' %}
    <h2>Add Purchase Record</h2>
  {% else %}
    <h2>Edit Purchase Record</h2>
  {% endif %}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save</button>
  </form>
  <a href="{% url 'purchase_record_list' %}">Back to Purchase Records</a>
{% endblock %}
